{% extends "portal/user_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <!-- <div class="media">
        <div class="media-body">
            <p class="text-secondary">{{ user.email }}</p>
        </div>
        </div> -->
    {% if messages %}
    <div class="messages text-center">
        {% for message in messages %}
        {% if message.tags in 'error' %}
        <div class="alert alert-danger">{{ message }}</div>
        {% elif message.tags in 'success' %}
        <div class="alert alert-success">{{ message }}.</div>
        {% else %}
        <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <h2 class="content_area-title">Profile Info</h2>
    <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl-12">
                <div class="card shadow mb-4 dashboard_item_shadow br-10">
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover teble-responsive agency_list_table">
                                <thead>
                                    <tr>
                                        <th scope="col">Serial No.</th>
                                        <th scope="col">User ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Subscription</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="username">{{ user.id }}</td>
                                        <td class="username">{{ user.username }}</td>
                                        <td class="fixed_td_width">{{ user.fast_name }} {{ user.last_name }}</td>
                                        <td class="fixed_td_width">{{ user.email }}</td>
                                        {% if user.subscribe %}
                                        <td class="fixed_td_width">On</td>
                                        {% else%}
                                        <td class="fixed_td_width">Off</td>
                                        {% endif %}
                                        <!-- <button class="btn btn-danger remove_data" data-toggle="modal" data-target="#removeDataModal">
                                            <i class="fa fa-times"></i>
                                            </button> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% csrf_token %}
        <fieldset class="form-group">
            <h2 class="content_area-title">Profile Update</h2>
            {{ u_form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-dark " type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock %}