{% extends "portal/user_base.html" %}
{% block content %}
{% if messages %}
    <div class="messages text-center">
        {% for message in messages %}
            {% if message.tags in 'error' %}
                <div class="alert alert-danger">{{ message }}</div>
            {% elif message.tags in 'success' %}
                <div class="alert alert-success">{{ message }}.</div>
            {% else %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
    <div class="container-fluid content_area">
        <div class="row">
            <div class="col-sm-12" style="margin-bottom: 15px;">
                {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <a class="btn btn-outline-dark mb-4" href="?page=1 {% if q %} &q={{ q }} {% endif %}">First</a>
                            <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}{% if q %} &q={{ q }} {% endif %}">Previous</a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a class="btn btn-dark mb-4" href="?page={{ num }}{% if q %} &q={{ q }} {% endif %}">{{ num }}</a>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <a class="btn btn-outline-dark mb-4" href="?&page={{ num }}{% if q %} &q={{ q }} {% endif %}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}{% if q %} &q={{ q }} {% endif %}">Next</a>
                            <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}{% if q %} &q={{ q }} {% endif %}">Last</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!--End Dashboard Content-->
    </div>
    <!-- End container-fluid-->
<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Selected Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" alt="Content Title" style="display:none;width:100%;" id="preview_img">
      </div>
  </div>
</div>
</div>

<!-- modal -->
<!--End content-wrapper-->
{% endblock %}
