{% extends "portal/user_news_recommend_settings_base.html" %}

{% block search %}{% endblock %}
{% block content %}

<body>
    <div django-app="taskManager">
        <div class="container">
            <div class="content">
                <h1>Set Recommendation</h1>
                <b>Please insert or delete these three inputs (country, source, keyword) at a time to delete a
                    recommendation task</b>
                <!-- <p class="tagline">Give your news task</p> -->
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- csrf token for basic security -->

                    <div class="inputContainer half last">
                        <input type="text" id="country" class="taskName" placeholder="insert country" name="country"
                            required>
                        <label for="country">Country</label>
                    </div>

                    <div class="inputContainer half last">
                        <input type="text" id="source" class="taskName" placeholder="insert source" name="source"
                            required>
                        <label for="source">Source</label>
                    </div>
                    <div class="inputContainer half last">
                        <input type="text" id="keyword" class="taskName" placeholder="Insert Keyword" name="keyword"
                            required>
                        <label for="keyword">Keyword</label>
                    </div>


                    <div class="row">
                        <button class="taskAdd" name="taskAdd" type="submit">
                            <i class="fa fa-plus icon"></i>Add task</button>
                        <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit"
                            onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>
                            Delete task
                        </button>
                    </div>


                    <ul class="taskList">
                        {% for country in countries %}
                        <!-- django template lang - for loop -->
                        <li class="taskItem">
                            <input type="checkbox" class="taskCheckbox" name="checkedcountry" id="{{ country.id }}"
                                value="{{ country.id }}">
                            <label for="{{ country.id }}">
                                <span class="complete-">
                                    {{ country.country }}
                                </span>
                            </label>
                        </li>
                        {% endfor %}
                        {% for source in sources %}
                        <!-- django template lang - for loop -->
                        <li class="taskItem">
                            <input type="checkbox" class="taskCheckbox" name="checkedsource" id="{{ source.id }}"
                                value="{{ source.id }}">
                            <label for="{{ source.id }}">
                                <span class="complete-">
                                    {{ source.source }}
                                </span>
                            </label>
                        </li>
                        {% endfor %}
                        {% for keyword in keywords %}
                        <!-- django template lang - for loop -->
                        <li class="taskItem">
                            <input type="checkbox" class="taskCheckbox" name="checkedkeyword" id="{{ keyword.id }}"
                                value="{{ keyword.id }}">
                            <label for="{{ keyword.id }}">
                                <span class="complete-">
                                    {{ keyword.keyword }}
                                </span>
                            </label>
                        </li>
                        {% endfor %}
                    </ul>

                    <!-- taskList -->
                </form>
            </div>
            <!-- content -->
        </div>
        <!-- container -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
{% endblock %}