{% extends "portal/user_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        {% for app in apps %}
            Author Name: <h4>{{app.author.user.get_short_name}}</h4>
            App Name: <h4>{{app.app_name}}</h4>
            App Version: <h4>{{app.app_version}}</h4>
            Download: <a href="http://13.229.180.187:8000/media/{{app.app_file}}" download class="btn btn-outline-info float-right">Download</a>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
