{% extends "portal/user_base.html" %}
{% block content %}

{% block search %}{% endblock %}

<!-- Begin Page Content -->
<div class="container-fluid dashboard_item">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-12 col-md-12 mb-12 mb-3">
            <div class="card h-100 py-2 dashboard_header ">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary">
                                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card shadow mb-4 dashboard_item_shadow br-10">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-white border-none db_item_header">
                    <h6 class="m-0 font-weight-bold text-dark">Apps Uploaded <span class="count"><i class="fas fa-upload pr-2"></i>{{ apps.total_upload | length }}</span></h6>
                </div>
                <!--<div class="col-auto mt-2">
                    <select class="form-control max-content float-right upload_year_select" style="width: max-content;">
                        <option selected>Select year</option>
                            {% for y in apps.year_list %}
                                <option value="{{ y }}">{{ y }}</option>
                            {% endfor %}
                    </select>
                </div> -->
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="uploadChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Area Chart -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card shadow mb-4 dashboard_item_shadow br-10">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-white border-none db_item_header">
                    <h6 class="m-0 font-weight-bold text-dark">Apps Downloaded <span class="count"><i class="fa fa-download pr-2" aria-hidden="true"></i>{{ apps.total_download }}</span>
                    </h6>
                </div>
                <!--<div class="col-auto mt-2">
                    <select class="form-control max-content float-right download_year_select" style="width: max-content;">
                        <option selected>Select year</option>
                            {% for y in apps.year_list %}
                                <option value="{{ y }}">{{ y }}</option>
                            {% endfor %}
                    </select>
                </div> -->
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="downloadChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
</div>
{% endblock %}

{% block script %}

<!-- Page level plugins -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<script>

    // //line chart
    // var line = document.getElementById('myAgencyChart');
    // line.height = 200
    // var lineConfig = new Chart(line, {
    //     type: 'line',
    //     data: {
    //         labels: ['data-1', 'data-2', 'data-3', 'data-4', 'data-5', 'data-6'],
    //         datasets: [{
    //             // fillColor : gradient,
    //             label: '# of data', // Name the series
    //             data: [10, 15, 20, 10, 25, 5, 10], // Specify the data values array
    //             fill: false,
    //             borderColor: '#2196f3', // Add custom color border (Line)
    //             backgroundColor: '#2196f3', // Add custom color background (Points and Fill)
    //             borderWidth: 1 // Specify bar border width
    //         }]
    //     },
    //     options: {
    //         responsive: true, // Instruct chart js to respond nicely.
    //         maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
    //     }
    // })
    
    //Upload chart
    // var bar = document.getElementById('uploadChart');
    // var barConfig = new Chart(bar, {
    //     type: 'bar',
    //     data: {
    //         labels: ['data-1', 'data-2', 'data-3', 'data-4', 'data-5', 'data-6', 'data-7'],
    //         datasets: [{
    //             label: '# of data',
    //             data: [30, 25, 20, 15, 11, 4, 2],
    //             backgroundColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(225, 50, 64, 1)', 'rgba(64, 159, 64, 1)'],
    //             borderWidth: 1
    //         }]
    //     },
    //     options: {
    //         scales: {
    //             yAxes: [{
    //                 ticks: {
    //                     beginAtZero: true
    //                 }
    //             }]
    //         },
    //         responsive: true, // Instruct chart js to respond nicely.
    //         maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
    //     }
    // })

    // //Download chart
    // var bar = document.getElementById('downloadChart');
    // var barConfig = new Chart(bar, {
    //     type: 'bar',
    //     data: {
    //         labels: ['data-1', 'data-2', 'data-3', 'data-4', 'data-5', 'data-6', 'data-7'],
    //         datasets: [{
    //             label: '# of data',
    //             data: [30, 25, 20, 15, 11, 4, 2],
    //             backgroundColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(225, 50, 64, 1)', 'rgba(64, 159, 64, 1)'],
    //             borderWidth: 1
    //         }]
    //     },
    //     options: {
    //         scales: {
    //             yAxes: [{
    //                 ticks: {
    //                     beginAtZero: true
    //                 }
    //             }]
    //         },
    //         responsive: true, // Instruct chart js to respond nicely.
    //         maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
    //     }
    // })

    var bar = document.getElementById('uploadChart');
    var barConfig = new Chart(
        bar, {
            type: 'bar', data: {
                labels: ['{{ month_name.0 }}', '{{ month_name.1 }}', '{{ month_name.2 }}', '{{ month_name.3 }}', '{{ month_name.4 }}','{{ month_name.5 }}', '{{ month_name.6 }}', '{{ month_name.7 }}', '{{ month_name.8 }}', '{{ month_name.9 }}','{{ month_name.10 }}', '{{ month_name.11 }}'],
            datasets: [{
                label: 'Year' + ' ' + '{{ year }}',
                data: ['{{ upload_count.0 }}','{{ upload_count.1 }}','{{ upload_count.2 }}','{{ upload_count.3 }}','{{ upload_count.4 }}','{{ upload_count.5 }}','{{ upload_count.6 }}','{{ upload_count.7 }}','{{ upload_count.8 }}','{{ upload_count.9 }}','{{ upload_count.10 }}','{{ upload_count.11 }}'],
                backgroundColor: ['rgba(255, 99, 132, 1)', 'rgb(54,162,235)', 'rgba(255, 206, 86, 1)', 'rgb(5,116,77)', 'rgba(153, 102, 255, 1)', 'rgba(225, 50, 64, 1)', 'rgba(64, 159, 64, 1)', 'rgb(116,64,5)', 'rgb(18,187,118)', 'rgb(11,2,68)', 'rgba(24,236,0)', 'rgba(0,79,236)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
        }
    })

    var bar = document.getElementById('downloadChart');
    var barConfig = new Chart(
        bar, {
            type: 'bar', data: {
                labels: ['{{ month_name.0 }}', '{{ month_name.1 }}', '{{ month_name.2 }}', '{{ month_name.3 }}', '{{ month_name.4 }}','{{ month_name.5 }}', '{{ month_name.6 }}', '{{ month_name.7 }}', '{{ month_name.8 }}', '{{ month_name.9 }}','{{ month_name.10 }}', '{{ month_name.11 }}'],
            datasets: [{
                label: 'Year' + ' ' + '{{ year }}',
                data: ['{{ download_count.0 }}','{{ download_count.1 }}','{{ download_count.2 }}','{{ download_count.3 }}','{{ download_count.4 }}','{{ download_count.5 }}','{{ download_count.6 }}','{{ download_count.7 }}','{{ download_count.8 }}','{{ download_count.9 }}','{{ download_count.10 }}','{{ download_count.11 }}'],
                backgroundColor: ['rgba(255, 99, 132, 1)', 'rgb(54,162,235)', 'rgba(255, 206, 86, 1)', 'rgb(5,116,77)', 'rgba(153, 102, 255, 1)', 'rgba(225, 50, 64, 1)', 'rgba(64, 159, 64, 1)', 'rgb(116,64,5)', 'rgb(18,187,118)', 'rgb(11,2,68)', 'rgba(24,236,0)', 'rgba(0,79,236)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
        }
    })
        // year value js 
    // $('.upload_year_select').on('change', function() {
    //     var get_selected_upload_year = $('.upload_year_select').val();
    //     console.log(get_selected_upload_year)
    //     $.ajax({
    //         upload_year: get_selected_upload_year,
    //         type: "GET", //rest Type
    //         dataType: 'jsonp', //mispelled
    //         url: "path/to/college/info/endpoint",
    //         async: false,
    //         contentType: "application/json; charset=utf-8",
    //         success: function (data, textStatus, jqXHR) {
    //             // data is the college info to be used to modify the page with
    //             console.log(data);
    //         }
    //     });
    
    // });

    // $('.download_year_select').on('change', function() {
    //     var get_selected_download_year = $('.download_year_select').val();
    //     console.log(get_selected_download_year)
    //     $.ajax({
    //         download_year: get_selected_download_year,
    //         type: "GET", //rest Type
    //         dataType: 'jsonp', //mispelled
    //         url: "path/to/college/info/endpoint",
    //         async: false,
    //         contentType: "application/json; charset=utf-8",
    //         success: function (data, textStatus, jqXHR) {
    //             // data is the college info to be used to modify the page with
    //             console.log(data);
    //         }
    //     });
    
    // });
    // year value js
</script>

{% endblock %}
